*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.section1 {
  height: 870px;
  width: 100vw;
  max-width: 1650px;
  background-image: url("../img/bckgrnd1.jpg");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat; }

.headline {
  width: 700px;
  align-self: center;
  text-align: center; }

.section2 {
  width: 100vw;
  max-width: 1650px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: pink; }

#rafting {
  flex-grow: 2;
  width: 50%;
  height: 50%;
  background-image: url("../img/raft.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

#baseCamp {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/basecamp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

#backPacking {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/backpacking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

#canoe {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/canoe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

#photo {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

#custom {
  flex-grow: 2;
  width: 50%;
  height: 50%;
  background-image: url("../img/custom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.nav1 {
  display: flex;
  width: 100vw;
  max-width: 1650px;
  height: 50px;
  justify-content: space-between;
  justify-content: center;
  margin: 100px auto;
  position: absolute; }

.nav1-controls {
  display: flex; }
  .nav1-controls ul {
    list-style-type: none;
    display: flex; }
  .nav1-controls li {
    color: white;
    padding-left: 30px; }

.exploreBtn {
  margin-top: 150px; }
  .exploreBtn button {
    background-color: #dc7725;
    border: none;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px; }

#playBtn {
  background-color: white;
  width: 125px;
  height: 125px;
  opacity: .7;
  border-radius: 50%;
  border: none; }

#playBtn img {
  padding-left: 10px; }

.nav2 {
  display: flex;
  width: 100vw;
  max-width: 1650px;
  height: 80px;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  background-color: #646461; }

.nav2-controls {
  display: flex;
  align-items: center;
  width: 40%;
  left: 140px;
  position: relative; }
  .nav2-controls ul {
    list-style-type: none;
    display: flex; }
  .nav2-controls li {
    color: white;
    padding-left: 30px; }

#home {
  color: #dc7725; }

h1, h3 {
  color: white; }

hr {
  color: white;
  width: 120px; }

.headline h1 {
  font-size: 70pt;
  font-family: serif;
  line-height: 8px; }
.headline h3 {
  font-family: sans-serif; }

.tileText h3 {
  color: white; }

/*# sourceMappingURL=application.css.map */
