.section1 {
  height:870px;
  width: 100vw;
  max-width: 1650px;
  background-image: url("../img/bckgrnd1.jpg");
  display: flex;

  justify-content: center;

  background-repeat: no-repeat;
}

.headline {
  width:700px;
  // height: auto;
  // margin: 0 auto;
  align-self: center;
  // right: 500px;
  // justify-content: center;
  text-align: center;



}

.section2 {
  width: 100vw;
  max-width: 1650px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
}

#rafting {
  flex-grow: 2;
  width: 50%;
  height: 50%;
  background-image: url("../img/raft.jpg");
  // height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}

#baseCamp {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/basecamp.jpg");
  // height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}

#backPacking {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/backpacking.jpg");
  // height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}

#canoe {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/canoe.jpg");
  // height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}

#photo {
  flex-grow: 1;
  width: 25%;
  height: 50%;
  background-image: url("../img/photo.jpg");
  // height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}

#custom {
  flex-grow: 2;
  width: 50%;
  height: 50%;
  background-image: url("../img/custom.jpg");
  // height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}
