.section1 {
  height:950px;
  width: 100%;
  background-image: url("../img/bckgrnd1.jpg");
  display: flex;
  background-color: rgb(209, 209, 201);
  justify-content: center;
  background-size:cover;
  background-repeat: no-repeat;
    @media (max-width: 839px) {
      height: 500px;
      background-position: center right;
    }
}

.headline {
  width: 850px;
  margin: 0 auto;
  align-self: center;
  text-align: center;
    @media (min-width: 839px) {
      padding-top: 200px;

  }
}

.section2 {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(209, 209, 201);
    @media (max-width: 839px) {
      margin-top: 20px;
    }
}

.galleryImg:hover .icon {
  cursor: pointer;
  transform: scale(1.3);
  transition: all .2s ease-in-out;
}


#rafting {
  width: 50%;
  height: 420px;
  background-image: url("../img/raft.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
    @media (max-width: 1080px) {
      width: 100%;
    }
    @media (max-width: 839px) {
      width: 90vw;
      height: 250px;
      margin: 20px auto;
      padding: 10px;
      background-position: bottom right;
    }
}

#baseCamp {
  width: 25%;
  height: 420px;
  background-image: url("../img/basecamp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
    @media (max-width: 1080px) {
      width: 50%;
    }
    @media (max-width: 839px) {
      width: 90vw;
      height: 250px;
      margin: 20px auto;
      padding: 10px;
      background-position: center right;

    }
  }

#backPacking {
  width: 25%;
  height: 420px;
  background-image: url("../img/backpacking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
    @media (max-width: 1080px) {
      width: 50%;
    }
    @media (max-width: 839px) {
      width: 90vw;
      height: 250px;
      margin: 20px auto;
      padding: 10px;
      background-position: center right;

    }
}

#canoe {
  width: 25%;
  height: 420px;
  background-image: url("../img/canoe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
    @media (max-width: 1080px) {
      width: 50%;
    }
    @media (max-width: 839px) {
      width: 90vw;
      height: 250px;
      margin: 20px auto;
      padding: 10px;
      background-position: center right;

    }
}

#photo {
  width: 25%;
  height: 420px;
  background-image: url("../img/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
    @media (max-width: 1080px) {
      width: 50%;
    }
    @media (max-width: 839px) {
      width: 90vw;
      height: 250px;
      margin: 20px auto;
      padding: 10px;
      background-position: center right;

  }
}

#custom {
  width: 50%;
  height: 420px;
  background-image: url("../img/custom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
    @media (max-width: 1080px) {
      width: 100%;
    }
    @media (max-width: 839px) {
      width: 90vw;
      height: 250px;
      margin: 20px auto;
      padding: 10px;
      background-position: center right;

    }
}
