.nav1 {
  display: flex;
  width: 1400px;
  height: 50px;
  justify-content: space-between;
  justify-content: center;
  margin: 100px auto;
  position: absolute;



}

.nav1-controls {
  display: flex;
  ul {
    list-style-type: none;
    display: flex;

  }
  li {
    color: white;
    padding-left: 30px;
  }
}
