.exploreBtn {
  margin-top: 150px;
    button{
      background-color: #dc7725;
      border: none;
      color: white;
      width: 150px;
      height:50px;
      border-radius: 10px;
    }
}


#playBtn {
  background-color: white;
  width: 125px;
  height: 125px;
  opacity: .7;
  border-radius: 50%;
  border: none;
}

#playBtn img {
  padding-left: 10px;

}

.nav2 {
  display: flex;
  width: 100vw;
  max-width: 1650px;
  height: 80px;
  justify-content: space-between;
  // justify-content: center;
  margin: 0 auto;
  position: absolute;
  background-color: #646461;



}

.nav2-controls {
  display: flex;
  align-items: center;
  width: 40%;
  left: 140px;
  position: relative;


  ul {
    list-style-type: none;
    display: flex;

  }
  li {
    color: white;
    padding-left: 30px;
  }
}

#home {
  color: #dc7725;
}
