.icon {
  align-self: center;
  // justify: center;
  margin: 0 auto;
  right: 70px;
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  opacity: .5;
}

.icon img {
  width: 50%;
  height: auto;
  left: 25px;
  top: 23px;
  position: relative;

}
