.icon {
  align-self: center;
  margin: 0 auto;
  right: 100px;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  opacity: .5;
    @media (max-width: 839px) {

    }
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all .2s ease-in-out;
}

.icon img {
  width: 50%;
  height: auto;
  left: 25px;
  top: 23px;
  position: relative;
    @media (max-width: 839px) {

  }
}

#iconPhoto {
  @media (max-width: 839px) {
    right: 125px;
  }
}

#iconCanoe {
  @media (max-width: 839px) {
    right: 90px;
  }
}

#iconbckPck {
  @media (max-width: 839px) {
    right: 115px;
  }
}

#iconbaseCmp {
  @media (max-width: 839px) {
    right: 110px;
  }
}
