 h1, h3 {
  color: white;
}

hr {
  color: white;
  width:120px;
}

.headline {
  h1{
    font-size: 88pt;
    font-family: serif;
    padding-top: 18px;
  }
  h3{
    font-family: sans-serif;
    font-size: 15pt;
    letter-spacing: 3px;

  }
}

.tileText h3 {
  color: white;
  padding: 20px;
  font-family: sans-serif;
}

.tileText {
  justify-content: flex-start;
  align-self:flex-end;
  margin-left: 30px;


}
