 h1, h3 {
  color: white;
}

hr {
  color: white;
  width:120px;
}

.headline {
  h1{
    font-size: 70pt;
    font-family: serif;
    line-height: 8px;
  }
  h3{
    font-family: sans-serif;
  }
}

.tileText h3 {
  color: white;
}

.tileText {
  justify-content: flex-start;
  align-self:flex-end;
  margin-left: 30px;


}
